<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <div class="dropdown">
          <button class="btn btn-primary rounded-circle dropdown-toggle" type="button" id="profileDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-custom">
            <button class="dropdown-item" type="button">Perfil</button>
            <button class="dropdown-item" type="button">Cambiar Contraseña</button>
            <button  type="reset" class="dropdown-item" type="button">Log out</button>
          </div>
        </div>
      </form>
  
  

    </div>
  </nav>